$white: #E5F0E9;
$black: #050A06;
$lgreen: #9DDBB3;
$mgreen: #268246;
$green: #52D981;
$greent: #52d9817d;

.calendarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: $black;
    border-radius: 20px;
    border: solid 1px $mgreen;
    -webkit-box-shadow: -25px 0px 62px -11px $greent;
    -moz-box-shadow: -25px 0px 62px -11px $greent;
    box-shadow: -25px 0px 52px -11px $greent;
  }
  
  .calendarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: 10%;
    padding: 7px;
    margin-top: 10px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
    border-radius: 25px;
    background-color: $lgreen;

  }
  
  .calendarNavButton {
    background: none;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
  }
  
  .calendarMonthYear {
    font-size: 0.8rem;
    font-weight: bolder;
  }
  
  .calendarGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    padding: 10px;
  }
  
  .calendarDayOfWeek {
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 10px;
  }
  
  .calendarDay, .calendarDay.empty {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #f2f2f2;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bolder;
    color: $mgreen;
  }
  
  .calendarDay.empty {
    background-color: transparent;
    pointer-events: none;
  }
  .calendarDay.today {
    background-color: $mgreen;
    color: white;
    border: 1px solid $lgreen;
  }